body {
  background-color: seashell;
  /* container, parent element에게 flex, not child element */
  /* display: flex; */

  /* box 사이에 여백 */
  /* justify-content: space-between; */
}

.parent {
  height: 100vh;
  display: flex;
  /* ⭐ default, 수평적 */
  /* flex-direction: row;  */

  /* 수직적 */
  /* flex-direction: column; */

  /* main-axis: t수평, R->L */
  /* flex-direction: row-reverse; */
  
  /* main-axis: 수직, B->T */
  /* flex-direction: column-reverse; */

  /* justify-content -> mv items on main-axis */
  /* justify-content: flex-start; */
  /* flex-start: main-axis의 시작  */

  /* justify-content: flex-end; */
  /* flex-end: main-axis의 끝  */
  justify-content: flex-end;
  
  /* align-items -> mv items on cross-axis */
  /* align-items: stretch; */ /* element의 크기가 정해지지 x  */
  /* align-items: flex-start; */

  /* flex-wrap: nowrap; */ /* default */
  
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  flex-flow: column wrap;

  gap: 10px;
}

.box {
  /* width, height = block을 위한 property */
  /* <-> inline은 지원하지 않음 */
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

